@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --big-titles: #12153A;
    --general-text: #425466;
    --color-grey: #A7B7C7;
    --color-blue: #635BFF;
    --color-light-blue: #00D4FF;
    --nav-links-hover: #ccc;
    --bgBtn-email-hover: #687A8A;
    --bgBtn-hover: #0A2540;
}

body {
    font-family: "DM Sans", sans-serif;
    padding-inline: 15vw;
    position: relative;
}

body::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #00f, #f00);
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0 42%);
    opacity: 0.7;
    z-index: -1;
}

h1, h3, h4, h5 {
    color: var(--big-titles);
}

p {
    font-size: 1.05rem;
    line-height: 1.7;
}

/* ------------- NAVBAR SECTION ------------ */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
    margin-block-end: 50px;
    background-color: transparent;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    font-size: 0.9rem;
}

.navbar-options li a:hover:not(.sales) {
    color: var(--nav-links-hover);
}

.logo {
    font-weight: bold;
    font-size: 1.8rem;
    font-family: "Teko", sans-serif;
}

.sales {
    font-weight: normal;
    background-color: #fff;
    color: #000;
    border-radius: 100vw;
    padding: 7px 14px;
}

.loginBtn {
    display: none;
}

/* ------------- HERO SECTION ------------ */
.hero {
    margin-block-end: 40px;
}

.hero-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    column-gap: 60px;
}

.text-header-container {
    display: grid; 
    gap: 1.8rem;
}

h1 {
    font-size: 4rem;
    line-height: 1;
    font-weight: 800;
    position: relative;
    z-index: -2;
}

.email-form {
    width: 350px;
    padding: 8px;
    border-radius: 100vw;
    border: none;
    outline: 1px solid #ddd;
    background-color: #f6f9fb;
    display: grid;
    grid-template-columns: 1fr 120px;
    justify-content: space-between;
    gap: 5px;
}

.email-form input {
    border: none;
    outline: none;
    width: 100%;
    font-family:  "Poppins", sans-serif;
    font-size: 0.8rem;
    background-color: transparent;
}

.email-form button {
    border-radius: 100vw;
    border: none;
    background-color: var(--big-titles);
    color: #fff;
    font-weight: bold;
    padding-block: 8px;
    cursor: pointer;
}

.img-header-container img {
    display: block;
    min-width: 100%;
    filter: drop-shadow(3px 5px 15px #0008); 
} 

.email-form button:hover {
    background-color: var(--bgBtn-email-hover);
}

.email-form:has(input:focus) {
    outline: 2px solid var(--color-blue);
}

.hero-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 100px);
    padding: 40px;
    /* column-gap: 150px; */
    column-gap: 10%;
    place-items: center;
}

.hero-logos img {
    display: block;
    max-width: 100px;
}

.hero-logos img:nth-child(4) {
    max-width: 160px;
}
.hero-logos img:nth-child(5) {
    max-width: 60px;
}

.hero-logos img:last-child {
    max-width: 50px;
}

/* ------------- MAIN SECTION ------------ */
h2 {
    color: var(--color-blue);
    font-size: 1rem;
}

h4 {
    font-size: 1.9rem;
    font-weight: 600;
}

h5 {
    font-size: 0.9rem;
    font-weight: 600;
    margin-block-end: 10px;
}

/* ------------- MAIN SECTION: MODULAR SOLUTIONS ------------ */
.h3-big {
    font-size: 2.4rem;
}

.h3-normal {
    font-size: 1.1rem;
    padding-left: 30px;
    margin-block-end: 20px;
    position: relative;
}

.modular-solutions {
    padding-block: 120px 140px;
    position: relative;
}

.modular-solutions::before {
    content: '';
    position: absolute;
    display: block;
    background-color: #f6f9fc;
    top: 0;
    left: -15vw;
    width: 100vw;
    height: calc(100% + 200px);
    z-index: -1;
}

.modular-solutions h2 {
    margin-block-end: 30px;
}

.ms-data-container {
    display: grid;
    grid-template-columns: 1.65fr 2fr;
    column-gap: 90px;
    justify-items: center;
}

.ms-text-container {
    display: flex;
    flex-direction: column;
    gap: 250px;
}

.payments {
    --ms-logoUrl: url("./images/payments-logo.png");
}

.billing {
    --ms-logoUrl: url("./images/billing-logo.png");
}

.connect {
    --ms-logoUrl: url("./images/connect-logo.png");
}

.issuing {
    --ms-logoUrl: url("./images/issuing-logo.png");
}

.h3-normal::before {
    content: '';
    background-image: var(--ms-logoUrl);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 22px;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.ms-text-extraInfo {
    margin-block: 65px 45px;
}

.ms-text-extraInfo p{
    font-size: 0.9rem;
    margin-block-end: 5px;
}

.ms-text-extraInfo p a{
    color: #00f;
}

.ms-text > p {
    margin-block: 30px;
}

.ms-text > a {
    background-color: #00f;
    padding: 7px 14px;
    border-radius: 100vw;
}

.ms-image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    position: sticky;
    top: 25%;
}

/* ------------- MAIN SECTION: GLOBAL SCALE ------------ */
.global-scale {
    padding-block: 90px;
    position: relative;
}

.global-scale::before {
    content: '';
    display: block;
    position: absolute;
    top: -150px;
    left: -15vw;
    background-color: var(--bgBtn-hover);
    width: 100vw;
    height: calc(100% + 150px);
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
}

.global-scale h2 {
    color: var(--color-light-blue);
    margin-block: 30px;
}

.gs-generalData-container {
    max-width: 50%;
    margin-block: 20px 100px;
}

.gs-generalData-container p {
    font-size: 1.1rem;
}

.gs-generalData-container h3 {
    font-size: 2rem;
    color: #fff;
    margin-block-end: 20px;
}

.gs-specificData h4 {
    font-size: 1.5rem;
    color: #fff;
    margin-block-end: 10px;
}

.gs-specificData a {
    color: var(--color-light-blue);
}

.gs-generalData-container p, .gs-specificData p {
    color: var(--color-grey);
    font-weight: 500;
}

.gs-specificData-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
}


/* ------------ MEDIA QUERIES ------------ */

@media screen and (min-width: 1350px) {
    .loginBtn {
        display: block;
    }
    
}